.logo {
    width: 70px;
    margin-right: 3px;

}

.divInicial {
    background-color: aqua;
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

.buttons {
    margin: 4px;
}


.itemDetail {
    max-width: 740px;
}

.cardCart {
    max-width: 840px;
}

.emptyCartTitle {
    font-size: medium;
}


.imgCart{
    display: flex;
    align-items: center;

}

.divForm {
    margin-top: 20px;
}

.darkMode {
    background-color: black;
    color: grey;
}

.cartButtons {
    display: flex;
    flex-direction: row;
}